@font-face {
  font-family: 'Tegaki'; /* 任意のフォント名（後で使用する名前） */
  src: url('../font/tegaki.ttf') format('truetype'); /* ファイルのパスとフォーマット指定 */
  font-weight: normal; /* 必要に応じて指定 */
  font-style: normal; /* 必要に応じて指定 */
}

h2 {
  /* 大きめのフォントサイズで存在感を */
  font-size: 36px !important; /* 任意のフォント名を指定 */
  /* 中央揃えでバランスの良い配置*/
  text-align: left !important;
  font-family: 'Tegaki', sans-serif !important;
}

/* header */
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 30px;

  /* Flexboxを有効化 */
  display: flex;

  /* 子要素（li）を左右中央に配置 */
  justify-content: center;

  /* 上下方向の中央寄せ（高さを指定するか、行揃えを調整したい場合） 
     align-items: center;
  */
}

.main-nav li {
  margin: 0 1rem; /* 項目同士の隙間を調整 */
}

.transfont {
  font-family: 'Tegaki', sans-serif !important;
  font-size: large;
}

.footer__title h2 {
  text-align: center !important;
}
