@font-face {
  font-family: 'Tegaki'; /* 任意のフォント名（後で使用する名前） */
  src: url('../font/tegaki.ttf') format('truetype'); /* ファイルのパスとフォーマット指定 */
  font-weight: normal; /* 必要に応じて指定 */
  font-style: normal; /* 必要に応じて指定 */
}

h2 {
  /* 大きめのフォントサイズで存在感を */
  font-size: 36px !important; /* 任意のフォント名を指定 */
  /* 中央揃えでバランスの良い配置*/
  text-align: left !important;
  font-family: 'Tegaki', sans-serif !important;
}
